<div class="top">
    <div class="in">
        <div class="logo">
            <img src="{{asset('img/ui/logo2.png')}}" alt="">
            <h1 class="title">Românești</h1>
        </div>
        <div class="menu">
            <a href="{{l('/')}}">Acasă</a>
            <a href="{{l('/orase')}}">Orașe</a>
            <a href="{{l('/magazine')}}">Magazine</a>
            <a href="{{l('/producatori')}}">Producători</a>
            <a href="{{l('/contact')}}">Contact</a>
        </div>
        <div class="menu2">
            <a href="{{l('/cont')}}" class="btn1">Contul meu</a>
        </div>
    </div>
</div>
