<!DOCTYPE html>
<html>
<head>
    {%set fulltitle = 'Românești.ro - Cumpără Românește'%}
    {% include 'part/head.twig' %}
</head>
<body>
    <div class="header st1">
        <div class="headerin">
            {% include 'part/top.twig' %}
            <div class="hcont">
                <img src="{{img('ui/logo1.png')}}" alt="" class="biglogo">
                <h2>Iubești România? Cumpără românește</h2>
                <h3>Sprijină prodcătorii autohtoni, sprijină-ți concetățenii și economia țării cumpărând românește. :)</h3>
                <div class="topscroller">
                    <i class="material-icons">&#xE313;</i>
                    <i class="material-icons">&#xE313;</i>
                    <i class="material-icons">&#xE313;</i>
                    <i class="material-icons">&#xE313;</i>
                </div>
            </div>
        </div>
    </div>
    <div class="section st1">
        <div class="in">
            <h2>De ce să cumpăr românește?</h2>
            <div class="cards whytobuy d-5 m-4 x-2 s-1">
                <div class="card">
                    <div>
                        <i class="material-icons">&#xE8DC;</i>
                        <p>Vei sprijini economia țării prin punerea în valoare a firmelor românești. </p>
                    </div>
                </div>
                <div class="card">
                    <div>
                        <i class="material-icons">&#xE53E;</i>
                        <p>Vei sprijini concetățenii prin direcționarea profitului către firmele locale. </p>
                    </div>
                </div>
                <div class="card">
                    <div>
                        <i class="material-icons">&#xE227;</i>
                        <p>Vei scădea din suma economică ce iese înafara țării prin multinaționale sau corporații. </p>
                    </div>
                </div>
                <div class="card">
                    <div>
                        <i class="material-icons">&#xE8E5;</i>
                        <p>Vei contribui la scăderea inflației continue din ultimele decenii.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section st4 green">
        <div class="in">
            <div class="left witht">
                <h3>Caută magazine în orașul tău</h3>
                <p>
                    Caută și identifică magazinele românești din orașul tău. Pentru fiecare oraș, site-ul afișează informații despre magazine (supermarketuri / de retail) inclusiv țara de origine a magazinului.
                </p>
                <img src="{{asset('img/ui/vs1.png')}}" alt="" class="vsimg">
                <a href="{{l('/orase')}}" class="btn1 longer st1">Caută oraș</a>
            </div>
            <div class="right withi">
                <i class="material-icons">&#xE7F1;</i>
            </div>
        </div>
    </div>
    <div class="section st4">
        <div class="in">
            <div class="left witht">
                <h3>Caută magazine cunoscute românești</h3>
                <p>
                    Află care magazine din lanțurile de magazine sunt românești, sau care din magazinele online sunt deținute de români la secțiunea „Magazine”.
                </p>
                <img src="{{asset('img/ui/vs2.png')}}" alt="" class="vsimg">
                <a href="{{l('/magazine')}}" class="btn1 longer st1">Caută magazine</a>
            </div>
            <div class="right withi">
                <i class="material-icons">&#xE153;</i>
            </div>
        </div>
    </div>
    <div class="section st4 white">
        <div class="in">
            <div class="left witht">
                <h3>Caută producători români</h3>
                <p>
                    Caută categoriile de produse din românia și alternative de producători români. Pentru fiecare categorie de produse, site-ul afișează ce producători români activează pe acea piață.
                </p>
                <img src="{{asset('img/ui/vs4.png')}}" alt="" class="vsimg">
                <a href="{{l('/producatori')}}" class="btn1 longer">Caută producători</a>
            </div>
            <div class="right withi">
                <i class="material-icons">&#xE52D;</i>
            </div>
        </div>
    </div>
    {% include 'part/footer.twig' %}
    {% include 'part/scripts.twig' %}
</body>
</html>
